* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
 --primary-color: #803453;
}
  
html, body {
  height: 100%;
  width: 100%;
}

main {
    margin: 0px;
    padding: 5vw;
    background-image: url(../Assets/images/construction-background.webp);
}

.working {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center  ;
    align-items: center;
    position: relative;
    width: 50vw;
}

.work-img {
    width: 50vw;
    position: relative;
}

.work-img img {
    max-width: 100%;
  }
  