:root {
  --primary-color: #803453;
}

.sub-menu{
  display: none;
}

.navSec ul li:hover .sub-menu{
  display: block;
  position: absolute;
  background-color: #803453;
  margin-top: 15px;
  margin-left: -15px;
}

.navSec ul li:hover .sub-menu ul{
  display: block;
  margin: 10px;
}

.navSec ul li:hover .sub-menu ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.Read-More-btn {
  margin-top: 20px;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  border: green;
  background-color: #008000;
}

.events {
  border: 1px solid var(--primary-color);
  width: 20vw;
}

.table-head {
  text-align: center;
  vertical-align: middle;
  padding: 5px 0;
  color: white;
  background-color: var(--primary-color);
  font-size: 1vw;
}

.table-body {
  max-height: 100px;
  overflow-y: auto;
  display: block;
}

.table-body td {
  max-width: 340px;
  word-wrap: break-word;
  display: block;
  margin: 10px;
  word-wrap: break-word;
}

.table-body td a {
  text-decoration: none;
}

.table-footer {
  font-size: 1vw;
  text-align: center;
  vertical-align: middle;
  padding: 5px 0;
  color: white;
  background-color: grey;
}