:root {
  --primary-color: #803453;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .firstHeader {
    font-size: 1.5vw;
  }
  
  .logo {
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    padding: 1vw;
  }

  .logo-text1, .logo-text2 {
    font-size: 50%;
  }

  .navSec {
    padding: 3px 0;
    gap: 3px;
  }

  .navSec ul {
    font-size: 2vw;
  }

  .navSide {
    padding: 3px 0;
    display: flex;
    justify-content: center;
  }

  .navSide ul {
    font-size: 2vw;
  }

  .navSide li{
    padding: 0 5px;
  }

  .hero {
    padding: 2vw 3vw;
    display: flex;
    flex-direction: column;
  }

  .hero-link ul {
    display: none;
  }

  .hero-right {
    margin-top: 2vw;
    flex-direction: row;
    justify-content: space-between;
  }

  .events {
    width: 40vw;
  }

  .table-head {
    font-size: 2vw;
  }

  .table-body {
    max-height: 30px;
  }

  .table-body td {
    font-size: 2vw;
    margin: 3px;
  }

  .table-footer {
    font-size: 2vw;
  }
}